@font-face {
  font-family: 'icomoon';
  src:url('../fonts/icomoon.eot?i1ljsl');
  src:url('../fonts/icomoon.eot?#iefixi1ljsl') format('embedded-opentype'),
    url('../fonts/icomoon.woff?i1ljsl') format('woff'),
    url('../fonts/icomoon.ttf?i1ljsl') format('truetype'),
    url('../fonts/icomoon.svg?i1ljsl#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-looking-glass:before {
  content: "\e600";
}

