@mixin input-placeholder($color) {
  &.placeholder {
    color: $color; 
    }
  &:-moz-placeholder {
    color: $color; 
    }
  &::-webkit-input-placeholder {
    color: $color; 
    } 
}

@mixin search-transitions($time){
  @include transition-duration($time);
  @include transition-timing-function(ease-in);  
}