#side-search {
  background: $blue-dark;
  font-family: "Gotham Bold", 'Helvetica Neue', Arial;
  padding: 20px 0;
  label {
    color: #fff;
  }
  input, button{
    outline: 0;
  }
  input[type=text] {
    color: $blue-darker;
    border-radius: $border-radius-base;
    border: 2px solid $gray;
    @include input-placeholder($blue-dark);
  }
  .radios{
    float: left;
  }
  .custom-radio{
    position: relative;
    display: block;
    font-size: 25px;
    cursor: pointer;
    padding: 21px 30px 21px 65px;
    margin: 0 -15px 0 0;
    margin-left: 30px;
    border-radius: 12px 0 0 12px;
    @include search-transitions(0.2s);
    @include opacity(0.5);
    input[type=radio]{
      display: none;
    }
    &:after, &:before{
      content: "";
      position: absolute;      
    }
    &:after{
      background-color: #fff;
      height: 35px;
      width: 35px;      
      border-radius: 17px;
      left: 20px;
      top: 17px;
    }
    &:before{      
      background-color: $blue-dark;
      @include search-transitions(0.2s);
      height: 20px;
      width: 20px;      
      border-radius: 17px;
      left: 28px;
      top: 25px;      
      z-index: 2;
    }
    &.active{
      @include opacity(1);
      background-color: $blue;      
      &:before{
        background-color: $orange;
      }
    }
  }
  .check-date{
    height: 40px;
  }
  .city {
    height: 90px;
    width: 520px;
    border-radius: $border-radius-base;
    font-size: 30px;
    padding-left: 30px;
  }
  .trip-filters, .trip-dates, .city, .search-button {
    float: left;
  }
  .trip-filters {
    background-color: $blue;
    border-radius: 15px;
    width: 895px;
    padding: 20px;    
  }
  .trip-filters, .trip-dates input {
    @include box-sizing(border-box);
  }
  .trip-dates{    
    width: 188px;
    margin: 0 10px;
    input{
      margin-bottom: 8px;
      height: 44px;
      padding-left: 15px;
      padding-top: 5px;
      font-size: 20px;
      width: 100%;
    }
  }
  .search-button{
    font-size: 56px;
    line-height: 50px;
    border-radius: 12px;
    border: 2px solid $orange;
    background-color: #FF6D00;  
    @include background-image(linear-gradient($orange-light, $orange-dark));
    padding: 17px 15px;
    span{
      color: #fff;
      @include single-text-shadow(#5B656F, 1px, 2px, 0);
    }
    &:hover{
      @include background-image(linear-gradient($orange-dark, $orange));
    }
    &:active{
      @include background-image(linear-gradient($orange, $orange-light)); 
    }
  }

}

// custom datepicker
#ui-datepicker-div{
   
  font-size: 0.9em;
  
  .ui-state-highlight{
    border: $gray;
    color: $blue-dark;
  }
  .ui-state-default{
    background: $blue-light;
  }
  .ui-widget-header{
    background: $blue;    
  }
  .ui-state-hover, .ui-state-active{
    background: $blue-dark;
    color: #fff;
  }
}

//Custom autocomplete
#ui-id-1{
  .ui-state-focus{ 
    color: $blue;
    background: #52ABEC;
  }
}

@mixin input-placeholder($color) {
  &.placeholder {
    color: $color; 
  }
  &:-moz-placeholder {
    color: $color; 
  }
  &::-webkit-input-placeholder {
    color: $color; 
  } 
}