
// Colors
$blue: #054F86;
$blue-light: #2775AF;
$blue-dark: #003868;
$blue-darker: #033A69;
$gray: #D7D9DA;
$orange: #FFA500;
$orange-light: #FF972A;
$orange-dark: #FF6600;

//borders
$border-radius-base: 6px;