/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
/* line 9, ../../sass/normalize.scss */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
/* line 19, ../../sass/normalize.scss */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
/* line 45, ../../sass/normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
/* line 57, ../../sass/normalize.scss */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
/* line 67, ../../sass/normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
/* line 78, ../../sass/normalize.scss */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
/* line 89, ../../sass/normalize.scss */
a {
  background-color: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
/* line 98, ../../sass/normalize.scss */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
/* line 109, ../../sass/normalize.scss */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
/* line 118, ../../sass/normalize.scss */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
/* line 126, ../../sass/normalize.scss */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
/* line 135, ../../sass/normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
/* line 144, ../../sass/normalize.scss */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
/* line 153, ../../sass/normalize.scss */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
/* line 162, ../../sass/normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

/* line 169, ../../sass/normalize.scss */
sup {
  top: -0.5em; }

/* line 173, ../../sass/normalize.scss */
sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
/* line 184, ../../sass/normalize.scss */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
/* line 192, ../../sass/normalize.scss */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
/* line 203, ../../sass/normalize.scss */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
/* line 211, ../../sass/normalize.scss */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
/* line 221, ../../sass/normalize.scss */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
/* line 232, ../../sass/normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
/* line 256, ../../sass/normalize.scss */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
/* line 266, ../../sass/normalize.scss */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
/* line 278, ../../sass/normalize.scss */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
/* line 293, ../../sass/normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
/* line 303, ../../sass/normalize.scss */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
/* line 312, ../../sass/normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
/* line 322, ../../sass/normalize.scss */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
/* line 335, ../../sass/normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
/* line 347, ../../sass/normalize.scss */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
/* line 357, ../../sass/normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
/* line 371, ../../sass/normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
/* line 379, ../../sass/normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
/* line 390, ../../sass/normalize.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
/* line 399, ../../sass/normalize.scss */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
/* line 408, ../../sass/normalize.scss */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
/* line 419, ../../sass/normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 425, ../../sass/normalize.scss */
td,
th {
  padding: 0; }

/* line 430, ../../sass/normalize.scss */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

/* line 439, ../../sass/normalize.scss */
.clearfix {
  display: inline-block; }

/* line 443, ../../sass/normalize.scss */
html[xmlns] .clearfix {
  display: block; }

/* line 447, ../../sass/normalize.scss */
* html .clearfix {
  height: 1%; }

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?i1ljsl");
  src: url("../fonts/icomoon.eot?#iefixi1ljsl") format("embedded-opentype"), url("../fonts/icomoon.woff?i1ljsl") format("woff"), url("../fonts/icomoon.ttf?i1ljsl") format("truetype"), url("../fonts/icomoon.svg?i1ljsl#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

/* line 12, ../../sass/fonts.scss */
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* line 26, ../../sass/fonts.scss */
.icon-looking-glass:before {
  content: "\e600"; }

/* line 1, ../../sass/search.scss */
#side-search {
  background: #003868;
  font-family: "Gotham Bold", 'Helvetica Neue', Arial;
  padding: 20px 0; }
  /* line 5, ../../sass/search.scss */
  #side-search label {
    color: #fff; }
  /* line 8, ../../sass/search.scss */
  #side-search input, #side-search button {
    outline: 0; }
  /* line 11, ../../sass/search.scss */
  #side-search input[type=text] {
    color: #033a69;
    border-radius: 6px;
    border: 2px solid #d7d9da; }
    /* line 2, ../../sass/mixin.scss */
    #side-search input[type=text].placeholder {
      color: #003868; }
    /* line 5, ../../sass/mixin.scss */
    #side-search input[type=text]:-moz-placeholder {
      color: #003868; }
    /* line 8, ../../sass/mixin.scss */
    #side-search input[type=text]::-webkit-input-placeholder {
      color: #003868; }
  /* line 17, ../../sass/search.scss */
  #side-search .radios {
    float: left; }
  /* line 20, ../../sass/search.scss */
  #side-search .custom-radio {
    position: relative;
    display: block;
    font-size: 25px;
    cursor: pointer;
    padding: 21px 30px 21px 65px;
    margin: 0 -15px 0 0;
    margin-left: 30px;
    border-radius: 12px 0 0 12px;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: ease-in;
    -moz-transition-timing-function: ease-in;
    -o-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
    opacity: 0.5; }
    /* line 31, ../../sass/search.scss */
    #side-search .custom-radio input[type=radio] {
      display: none; }
    /* line 34, ../../sass/search.scss */
    #side-search .custom-radio:after, #side-search .custom-radio:before {
      content: "";
      position: absolute; }
    /* line 38, ../../sass/search.scss */
    #side-search .custom-radio:after {
      background-color: #fff;
      height: 35px;
      width: 35px;
      border-radius: 17px;
      left: 20px;
      top: 17px; }
    /* line 46, ../../sass/search.scss */
    #side-search .custom-radio:before {
      background-color: #003868;
      -webkit-transition-duration: 0.2s;
      -moz-transition-duration: 0.2s;
      -o-transition-duration: 0.2s;
      transition-duration: 0.2s;
      -webkit-transition-timing-function: ease-in;
      -moz-transition-timing-function: ease-in;
      -o-transition-timing-function: ease-in;
      transition-timing-function: ease-in;
      height: 20px;
      width: 20px;
      border-radius: 17px;
      left: 28px;
      top: 25px;
      z-index: 2; }
    /* line 56, ../../sass/search.scss */
    #side-search .custom-radio.active {
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
      opacity: 1;
      background-color: #054f86; }
      /* line 59, ../../sass/search.scss */
      #side-search .custom-radio.active:before {
        background-color: orange; }
  /* line 64, ../../sass/search.scss */
  #side-search .check-date {
    height: 40px; }
  /* line 67, ../../sass/search.scss */
  #side-search .city {
    height: 90px;
    width: 520px;
    border-radius: 6px;
    font-size: 30px;
    padding-left: 30px; }
  /* line 74, ../../sass/search.scss */
  #side-search .trip-filters, #side-search .trip-dates, #side-search .city, #side-search .search-button {
    float: left; }
  /* line 77, ../../sass/search.scss */
  #side-search .trip-filters {
    background-color: #054f86;
    border-radius: 15px;
    width: 895px;
    padding: 20px; }
  /* line 83, ../../sass/search.scss */
  #side-search .trip-filters, #side-search .trip-dates input {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  /* line 86, ../../sass/search.scss */
  #side-search .trip-dates {
    width: 188px;
    margin: 0 10px; }
    /* line 89, ../../sass/search.scss */
    #side-search .trip-dates input {
      margin-bottom: 8px;
      height: 44px;
      padding-left: 15px;
      padding-top: 5px;
      font-size: 20px;
      width: 100%; }
  /* line 98, ../../sass/search.scss */
  #side-search .search-button {
    font-size: 56px;
    line-height: 50px;
    border-radius: 12px;
    border: 2px solid orange;
    background-color: #FF6D00;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ff972a), color-stop(100%, #ff6600));
    background-image: -webkit-linear-gradient(#ff972a, #ff6600);
    background-image: -moz-linear-gradient(#ff972a, #ff6600);
    background-image: -o-linear-gradient(#ff972a, #ff6600);
    background-image: linear-gradient(#ff972a, #ff6600);
    padding: 17px 15px; }
    /* line 106, ../../sass/search.scss */
    #side-search .search-button span {
      color: #fff;
      text-shadow: 1px 2px 0 #5b656f; }
    /* line 110, ../../sass/search.scss */
    #side-search .search-button:hover {
      background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ff6600), color-stop(100%, #ffa500));
      background-image: -webkit-linear-gradient(#ff6600, #ffa500);
      background-image: -moz-linear-gradient(#ff6600, #ffa500);
      background-image: -o-linear-gradient(#ff6600, #ffa500);
      background-image: linear-gradient(#ff6600, #ffa500); }
    /* line 113, ../../sass/search.scss */
    #side-search .search-button:active {
      background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffa500), color-stop(100%, #ff972a));
      background-image: -webkit-linear-gradient(#ffa500, #ff972a);
      background-image: -moz-linear-gradient(#ffa500, #ff972a);
      background-image: -o-linear-gradient(#ffa500, #ff972a);
      background-image: linear-gradient(#ffa500, #ff972a); }

/* line 121, ../../sass/search.scss */
#ui-datepicker-div {
  font-size: 0.9em; }
  /* line 125, ../../sass/search.scss */
  #ui-datepicker-div .ui-state-highlight {
    border: #d7d9da;
    color: #003868; }
  /* line 129, ../../sass/search.scss */
  #ui-datepicker-div .ui-state-default {
    background: #2775af; }
  /* line 132, ../../sass/search.scss */
  #ui-datepicker-div .ui-widget-header {
    background: #054f86; }
  /* line 135, ../../sass/search.scss */
  #ui-datepicker-div .ui-state-hover, #ui-datepicker-div .ui-state-active {
    background: #003868;
    color: #fff; }

/* line 143, ../../sass/search.scss */
#ui-id-1 .ui-state-focus {
  color: #054f86;
  background: #52ABEC; }
