  <div id="side-search">
    <form action="" class="clearfix">
      <div class="radios">
        <label class="custom-radio">
          <input type="radio" name="search-type" value="pacotes">
          Pacotes
        </label>
        <label class="custom-radio active">
          <input type="radio" name="search-type" checked value="hoteis">
          Hotéis
        </label>           
      </div>   
      <div class="trip-filters">
        <input type="text" class="city" name="city" placeholder="Digite a cidade de destino">
        <div class="trip-dates">
          <input type="text" class="check-date" placeholder="Check-in" name="checkin">
          <input type="text" class="check-date" placeholder="Check-out" name="checkout">
        </div>
        <button class="search-button">        
          <span class="icon-looking-glass"></span>
        </button>
      </div>
    </form>
  </div>